@-webkit-keyframes fadeOut { 0% { opacity: 1; }
  100% { opacity: .5; } }
@keyframes heart-beat { 0% { transform: scale(1); }
  25% { transform: scale(1.4); }
  50% { transform: scale(1.2); }
  75% { transform: scale(1.5); }
  100% { transform: scale(1); } }
a { margin: 0; padding: 0; }

ul { margin-bottom: 0; list-style-type: none; padding-left: 0; }

.mt-0 { margin-top: 0px; }

.mt-5 { margin-top: 5px; }

.mt-10 { margin-top: 10px; }

.mt-15 { margin-top: 15px; }

.mt-20 { margin-top: 20px; }

.mt-25 { margin-top: 25px; }

.mt-30 { margin-top: 30px; }

.mt-35 { margin-top: 35px; }

.mt-40 { margin-top: 40px; }

.mt-45 { margin-top: 45px; }

.mt-50 { margin-top: 50px; }

.ml-0 { margin-left: 0px; }

.ml-5 { margin-left: 5px; }

.ml-10 { margin-left: 10px; }

.ml-15 { margin-left: 15px; }

.ml-20 { margin-left: 20px; }

.ml-25 { margin-left: 25px; }

.ml-30 { margin-left: 30px; }

.ml-35 { margin-left: 35px; }

.ml-40 { margin-left: 40px; }

.ml-45 { margin-left: 45px; }

.ml-50 { margin-left: 50px; }

.mb-0 { margin-bottom: 0px; }

.mb-5 { margin-bottom: 5px; }

.mb-10 { margin-bottom: 10px; }

.mb-15 { margin-bottom: 15px; }

.mb-20 { margin-bottom: 20px; }

.mb-25 { margin-bottom: 25px; }

.mb-30 { margin-bottom: 30px; }

.mb-35 { margin-bottom: 35px; }

.mb-40 { margin-bottom: 40px; }

.mb-45 { margin-bottom: 45px; }

.mb-50 { margin-bottom: 50px; }

.height-10 { height: 10px; }

.height-15 { height: 15px; }

.height-20 { height: 20px; }

.height-25 { height: 25px; }

.height-30 { height: 30px; }

.height-35 { height: 35px; }

.height-40 { height: 40px; }

.height-45 { height: 45px; }

.width-15 { width: 15px; }

.width-20 { width: 20px; }

.width-25 { width: 25px; }

.width-30 { width: 30px; }

.width-35 { width: 35px; }

.width-40 { width: 40px; }

.width-45 { width: 45px; }

.fz-1em { font-size: 1em; }

.fz-2em { font-size: 2em; }

.fz-3em { font-size: 3em; }

.fz-4em { font-size: 4em; }

.vertical-bottom { vertical-align: bottom; }

.vertical-center { vertical-align: middle; }

.w100 { width: 100%; }

.row-m7 { margin-left: -7px; margin-right: -7px; }

.row-m10 { margin-left: -10px; margin-right: -10px; }

.relative { position: relative; }

.inline-block li { display: inline-block; }

.inline { display: inline; }

.color-white { color: #ffffff; }

.color-primary { color: #e42000; }

.color-gray { color: #757575; }

.color-gray-light { color: #a8a8a8; }

a:hover { text-decoration: none; }

.under-line { border-bottom: 2px solid whitesmoke; padding-bottom: 10px; }

.banner { width: 100%; position: relative; background-image: url("../image/index-banner.png"); background-repeat: no-repeat; background-size: cover; min-height: 215px; min-width: 943px; }

@media screen and (max-width: 992px) { .banner { min-width: 100%; width: 100%; } }
.square { margin: 7px; display: inline-block; overflow: hidden; position: relative; text-align: center; }
.square-large { width: 218px; height: 218px; }
.square-large img { width: 218px; height: 218px; }
.square-middle { width: 159px; height: 159px; }
.square-middle img { width: 159px; height: 159px; }
.square-small { width: 85px; height: 85px; }
.square-small img { width: 85px; height: 85px; }
.square.ad-vertical { width: 235px; height: 391px; }
.square.ad-vertical img { width: 235px; height: 391px; }
.square:hover .hover { height: auto; padding: 4px; bottom: 0; }
.square:hover .like-button { opacity: 1; }
.square .hover { position: absolute; left: 0; bottom: -46px; max-height: 46px; width: 100%; padding: 0 4px 0 4px; background-color: rgba(0, 0, 0, 0.5); text-align: center; transition: all .5s ease; overflow: hidden; }
.square .hover a { text-align: center; color: whitesmoke; overflow: hidden; text-decoration: none; width: 100%; }
.square .hover a:hover { color: #ffffff; }
.square .hover a span { overflow: hidden; vertical-align: top; }
.square .like-button { position: absolute; top: 5px; right: 8px; opacity: 0; transition: opacity .3s ease; }
.square .like-button a { display: block; color: #a8a8a8; font-size: 1.2em; transition: all .3s ease; }
.square .like-button a:hover { color: #e42000; animation: heart-beat 2s infinite; }
.square .like-button a:hover i.glyphicon-heart-empty:before { content: "\e005"; }
.square .like-button a:active, .square .like-button a:focus { transform: scale(2.5); }

@media screen and (min-width: 1200px) { .square-large { width: 204px; height: 204px; }
  .square-large img { width: 204px; height: 204px; }
  .square.ad-vertical { height: 377px; } }
@media screen and (max-width: 767px) { .hover, .like-button { display: none; }
  .row-m7 { text-align: center; }
  .square { width: calc(50% - 16px); height: auto; }
  .square img { width: 100%; height: auto; } }
ul.gray-item li a { color: #757575; text-decoration: none; padding: 5px 10px 5px 10px; }
ul.gray-item li a:hover { color: #a8a8a8; }

.hover-red li { padding-bottom: 10px; border-bottom: 4px #ffffff solid; }
.hover-red li:hover { border-bottom: 4px #e42000 solid; }
.hover-red li:hover a { color: #a8a8a8; }

.btn-gray { background-color: #a8a8a8; }
.btn-gray:hover { background-color: #757575; }

.link-gray-light > a { color: #a8a8a8; }
.link-gray-light > a:hover { text-decoration: none; color: #757575; }

.favorite-panel { position: relative; height: 332px; width: 235px; border: 2px solid whitesmoke; margin-top: 7px; }
.favorite-panel .favorite-panel-title { margin-top: 10px; text-align: center; color: #757575; }
.favorite-panel .favorite-panel-title p { margin-bottom: 5px; font-weight: bold; }
.favorite-panel .favorite-panel-content { height: 285px; overflow: scroll; text-align: center; }

.menu-left { position: fixed; top: 0; right: 0; z-index: 100; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); display: none; }
.menu-left #close-menu { position: fixed; top: 0; right: 0; z-index: 100; width: 25%; height: 100%; background-color: transparent; }
.menu-left .content { position: fixed; left: -75%; z-index: 200; background-color: whitesmoke; width: 75%; height: 100%; overflow-y: scroll; }
.menu-left .content .menu-items { text-align: left; }
.menu-left .content .menu-item { display: block; }
.menu-left .content .menu-link { display: block; min-height: 46px; border-top: 1px #a8a8a8 solid; padding: 10px 20px 10px 20px; color: #757575; font-size: 1.3em; clear: both; }
.menu-left .content .menu-link.active { color: #e42000; }
.menu-left .content .arrow { float: right; margin-top: 3px; }
.menu-left .content .menu-sub-items { display: none; }
.menu-left .content .menu-sub-item > .menu-link { display: block; background-color: #ffffff; padding-left: 40px; }
.menu-left .content .menu-sub-item > .menu-link.load { background-image: url("../image/loading.gif"); background-repeat: no-repeat; background-position: 90% center; background-size: auto; }
.menu-left .content .menu-separate { color: #424242; font-weight: bold; margin: 0; }

header .brand .brand-logo { display: inline-block; width: 180px; height: 100px; background-color: #e42000; background-image: url("../image/taiwangoods_logo.svg"); background-repeat: no-repeat; background-size: 95%; background-position: center center; }
header .search .glyphicon { font-size: 2em; }
header .search .input-group input { border-radius: 0; }
header .search .input-group button { border-radius: 0; }
header .nav-icon { position: relative; width: 42px; height: 35px; background: transparent; border: 0px #a8a8a8 solid; border-radius: 5px; }
header .nav-icon span.icon-bar { display: block; width: 30px; height: 2px; background-color: #ffffff; border-radius: 2px; margin: 5px 0 5px 0; }

@media screen and (max-width: 767px) { header { height: 50px; position: relative; background-color: #e42000; text-align: center; }
  header .brand .brand-logo { background-image: url("../image/taiwangoods_logo_eng.svg"); background-repeat: no-repeat; background-size: 100%; background-position: center; width: 100%; height: 50px; }
  header .xs-icon { vertical-align: middle; margin-top: 8px; }
  header .xs-icon-search button i { color: #ffffff; font-size: 1.6em; line-height: 1.2em; }
  header .search { display: none; } }
footer { background-color: whitesmoke; width: 100%; min-height: 225px; margin-top: 50px; }
footer ul.gray-item li a { color: #a8a8a8; }
footer ul.gray-item li a:hover { color: #757575; }
footer .go-top { position: relative; display: block; text-align: right; }
footer .go-top a { color: #a8a8a8; }
footer .go-top a:hover { color: #757575; }
footer .footer-top { position: relative; }
footer .footer-top .social { position: absolute; top: 0; right: 0; }
footer .footer-top .social a { margin-left: 15px; }
footer .footer-bottom { position: relative; }
footer .footer-bottom .contact { font-size: 0.85em; }
footer .footer-bottom .contact strong { font-size: 1.1em; }
footer .footer-bottom .copyright { position: absolute; bottom: 0; right: 0; }

@media screen and (max-width: 767px) { footer { font-size: 1.1em; text-align: center; }
  footer .go-top { text-align: center; }
  footer .footer-top { display: block; }
  footer .footer-top .footer-nav li { display: block; margin-top: 5px; }
  footer .footer-top .social { display: block; position: relative; margin-bottom: 15px; }
  footer .footer-top .social a { margin-left: 5; margin-right: 5px; }
  footer .footer-bottom .contact { display: block; }
  footer .footer-bottom .copyright { position: relative; display: block; margin-top: 15px; margin-bottom: 30px; } }

/*# sourceMappingURL=main.css.map */
