<footer>
  <div class="container">
    <div class="go-top">
      <a href="#top" id="go-top">
          Go Top <i class="material-icons">&#xE5C7;</i>
      </a>
    </div>
    <div class="footer-top mt-20">
      <div class="social">
        <a href="#facebook">
          <svg id="facebook" data-name="Capa 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 90 90"><title>facebook</title><path id="Facebook_alt_" data-name="Facebook (alt)" d="M90,15C90,7.12,82.88,0,75,0H15C7.12,0,0,7.12,0,15V75c0,7.88,7.12,15,15,15H45V56H34V41H45V35.16C45,25.08,52.57,16,61.88,16H74V31H61.88C60.55,31,59,32.61,59,35v6H74V56H59V90H75c7.88,0,15-7.12,15-15V15Z"/></svg>
        </a>
        <a href="#weibo">
          <svg id="weibo" data-name="Capa 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 511.79 414.46"><title>weibo</title><path d="M413.69,261.55a125.7,125.7,0,0,0-29.4-13.42c-2.29-.76-3.91-1.33-4.86-1.71a14.69,14.69,0,0,1-3.42-2.14c-1.33-1-1.77-2.24-1.28-3.57A32.37,32.37,0,0,0,376,235q12.84-32.83,0-50.82-13.14-17.42-43.69-17.42t-70.23,16.85l-1.72.57a32.29,32.29,0,0,1-3.85,1,12.19,12.19,0,0,1-4.14.14,3.55,3.55,0,0,1-2.85-2q-0.86-1.71.29-5.71,12.84-41.4-5.71-59.67-21.12-21.13-70.38-2t-97.5,67.38Q39.68,219.87,19.84,257T0,326.94q0,30.83,18.56,57t49,43.11q30.4,17,68.66,26.55a322.71,322.71,0,0,0,78.51,9.56,330.64,330.64,0,0,0,77.23-8.85q37-8.85,64.52-23.7A240.34,240.34,0,0,0,404.55,397q20.56-18.7,31.12-39.11t10.57-39.82a59.85,59.85,0,0,0-9.71-33.26Q426.84,269.83,413.69,261.55ZM320.48,392.47Q278.66,426.3,215,432.87q-41.68,4-78.37-6T77.09,395.75q-22.84-21.13-25.41-48.54-4-41.68,37.83-75.51T195,231.29q41.69-4,78.36,6t59.53,31.12q22.84,21.13,25.41,48.54Q362.3,358.64,320.48,392.47Z" transform="translate(0 -48.67)"/><path d="M223.27,274.13q-30.26-7.71-60.1,5.43t-43.25,39.68q-13.42,27.11-1.86,53.53t42.11,36.12q31.69,10.27,64-3.43t45.11-42.82q12.84-28.56-.72-54.39T223.27,274.13Zm-30.55,92.5a32.94,32.94,0,0,1-17.85,13.56q-11.56,3.86-21.27-.71t-12.27-14.42q-2.57-9.84,3.71-19.55a31.32,31.32,0,0,1,17.13-13.13q11.14-3.71,20.84.28,10,4.28,12.85,14.27T192.72,366.63Zm26.84-34.55a11.21,11.21,0,0,1-6.28,5.29,11.84,11.84,0,0,1-8.28.14q-8.56-4-3.71-12.85a11.24,11.24,0,0,1,6.14-5.29,11.42,11.42,0,0,1,8.14-.14,8.13,8.13,0,0,1,5,5.28A8.61,8.61,0,0,1,219.55,332.08Z" transform="translate(0 -48.67)"/><path d="M408,206.88a16.69,16.69,0,0,0,9.71,8.42,16.41,16.41,0,0,0,12.7-1.14,16.65,16.65,0,0,0,8.43-9.71,63.31,63.31,0,0,0,1.85-33.54,65.21,65.21,0,0,0-15.55-31,63.61,63.61,0,0,0-28.84-18.7,65.41,65.41,0,0,0-34-1.57,15.86,15.86,0,0,0-10.57,7.28,16.56,16.56,0,0,0-2.27,12.7,14.78,14.78,0,0,0,7.13,10.56,17,17,0,0,0,12.85,2.29q18-3.71,30.55,10t6.85,31.69A16.38,16.38,0,0,0,408,206.88Z" transform="translate(0 -48.67)"/><path d="M508.92,156.92A131.76,131.76,0,0,0,476.8,93.4,130.5,130.5,0,0,0,417.4,55a136.33,136.33,0,0,0-69.66-3.28,19.11,19.11,0,0,0-12.42,8.42,18.6,18.6,0,0,0-2.71,14.71A19.69,19.69,0,0,0,356,90a97.89,97.89,0,0,1,49.4,2.43,96.43,96.43,0,0,1,65.1,72.38q5.14,25.69-2.85,49.1a19.9,19.9,0,0,0,12.85,24.56,18.38,18.38,0,0,0,14.85-1.14,19.27,19.27,0,0,0,9.71-11.42Q516.2,193,508.92,156.92Z" transform="translate(0 -48.67)"/></svg>
        </a>
      </div>
      <div class="footer-nav row-m10">
        <ul class="inline-block gray-item">
          <li>
            <a href="#">認識台灣禮品館</a>
          </li>
          <li>
            <a href="#">聯絡客服</a>
          </li>
          <li>
            <a href="#">購物須知</a>
          </li>
          <li>
            <a href="#">合作招商</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="mt-15 footer-bottom">
      <div class="contact">
        <p class="color-gray-light link-gray-light mb-0">
          <strong>台灣禮品館旗艦店-南海學園</strong><br>
          <i class="material-icons mt-5">&#xE55F;</i><a href="https://goo.gl/maps/bhfsdzJnSsJ2" target="_blank">台北市中正區南海路41號2樓</a><br>
          <i class="material-icons">&#xE0CD;</i><a href="tel:+886-02-2375-3999">02-2375-3999</a><br>
          <i class="material-icons">&#xE0AF;</i><a href="tel:+886-02-2375-3969">02-2375-3969</a><br>
          <i class="material-icons">&#xE8B5;</i>每日09:30至18:30
        </p>
      </div>
      <div class="lang pull-right mt-10">
        <ul class="inline-block gray-item">
          <li>
            <span>選擇語言：</span>
          </li>
          <li>
            <a href="#">繁體中文</a>
          </li>
          <li>
            <a href="#">簡體中文</a>
          </li>
          <li>
            <a href="#">English</a>
          </li>
          <li>
            <a href="#">日文</a>
          </li>
        </ul>
      </div>

      <div class="copyright mt-10">
        <p class="color-gray-light">
          &copy;2016 taiwangoods All Rights Reserved.
        </p>
      </div>
    </div>
  </div>

</footer>
