<div class="content">

  <div class="banner">
    <img src="/image/index-banner.png" alt="" />
  </div>

  <div id="promo-goods" class="row mt-15 clearfix">
    <div class="main-product-show col-md-9 col-lg-10">
      <div class="row-m7">
        <% for( var i = 0; i < 4; i++ ) { %>
        <a href="/pddetail" class="square square-large">
          <img src="http://dummyimage.com/218x218/eeeeee/&text=Large_square">
        </a>
        <% } %>
      </div>
      <div class="row-m7">
        <% for( var i = 0; i < 5; i++ ) { %>
        <a href="#" class="square square-middle">
          <img src="http://dummyimage.com/159x159/eeeeee/&text=Middle_square">
        </a>
        <% } %>
      </div>
    </div>
    <div class="main-ad col-md-3 col-lg-2">
      <div class="row-m7 clearfix">
        <a href="#" class="square ad-vertical pull-right text-right hidden-sm hidden-xs">
          <img src="http://dummyimage.com/235x391/eeeeee/&text=AD_banner">
        </a>
      </div>
    </div>
  </div>

  <div class="new-arrive-title under-line mt-45">
    <h4 class="fw-400 color-primary inline">
      新品推薦
    </h4>
  </div>
  <div class="row mt-15 new-arrive">
    <div class="col-md-9 col-lg-10">
      <div class="new-arrive-goods">
        <div class="row-m7">
          <% for( var i = 0; i < 10; i++ ) { %>
          <div class="square square-middle">
            <a href="#">
              <img src="http://dummyimage.com/159x159/eeeeee/">
            </a>
            <div class="like-button">
              <a href="#like"></a>
            </div>
            <span class="hover">
              <a href="#">
                <span class="name">Product name</span>
                <span class="price"></span>
              </a>
            </span>
          </div>
          <% } %>
        </div>
      </div>
    </div>
    <div class="favorite-goods col-md-3 col-lg-2 clearfix hidden-sm hidden-xs">
      <div class="favorite-panel pull-right">
        <div class="favorite-panel-title">
          <p>
            您收藏的商品
          </p>
        </div>
        <div class="favorite-panel-content">
          <% for( var i = 0; i < 8; i++) { %>
          <a href="#" class="square square-small">
            <img src="http://dummyimage.com/85x85/eeeeee/">
          </a>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</div>
