<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Taiwan Goods 台灣禮品館</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="css/vender/bootstrap.min.css" charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css" charset="utf-8">
    <script src="js/vender/jquery-2.2.1.min.js" type="text/javascript"></script>
    <script src="js/vender/bootstrap.min.js" type="text/javascript"></script>
    <script src="js/main.js" type="text/javascript"></script>
  </head>
  <body>
    <% include ./views/_header.ejs %>

    <%- body %>

    <% include ./views/_footer.ejs %>
  </body>
</html>
