<!DOCTYPE html>
<html class="">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="css/vender/bootstrap.min.css" charset="utf-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" >
    <link rel="stylesheet" href="css/main.css" charset="utf-8">
  </head>
  <body>
    <div id="main-content">
      <% include ./views/_header.ejs %>
      <div class="container" id="filling">
        <%- body %>
      </div>
    </div>

    <% include ./views/_footer.ejs %>
    <% include ./views/_popout-login.ejs %>
    <% include ./views/_popout-notice.ejs %>
    <% include ./views/_js.ejs %>
  </body>
</html>
