<ol class="breadcrumbs">
  <li><a href="/">首頁</a></li>
  <li class="active">會員中心</li>
</ol>

<div class="row">

  <% include ./views/_membercenter-sidemenu.ejs %>

  <div class="membercenter-content col-sm-8 col-md-9 mt-25">
    <div class="under-line">
      <h4 class="color-primary inline">
        會員中心
      </h4>
    </div>

    <div class="table-responsive">
      <table class="table color-gray">
        <tr>
          <th>購買日期</th>
          <th>訂單編號</th>
          <th>付款方式</th>
          <th>處理狀況</th>
          <th>出貨日期</th>
          <th>備註</th>
          <th>取消訂單</th>
          <th>申請退款</th>
        </tr>
        <tr>
          <td>2016-03-16</td>
          <td>A2016031614130</td>
          <td>ATM轉帳</td>
          <td>未處理</td>
          <td></td>
          <td></td>
          <td><a href="#" class="red-link">取消訂單</a></td>
          <td><a href="#" class="red-link">申請退款</a></td>
        </tr>
        <tr>
          <td>2016-03-16</td>
          <td>A2016031614130</td>
          <td>ATM轉帳</td>
          <td>未處理</td>
          <td></td>
          <td></td>
          <td><a href="#" class="red-link">取消訂單</a></td>
          <td><a href="#" class="red-link">申請退款</a></td>
        </tr>
      </table>
    </div>

  </div>

</div>
