ul.gray-item li a {
  color: $gray;
  text-decoration: none;
  padding: 5px 10px 5px 10px;
  &:hover {
    color: $gray-light;
  }
}

.hover-red {
  li {
    padding-bottom: 10px;
    border-bottom: 4px $white solid;
    &:hover {
      a {
        color: $gray-light;
      }
      border-bottom: 4px $brand-primary solid;
    }
  }
}

.red-link {
  color: $brand-primary;
  &:hover {
    color: $brand-primary-dark;
  }
}


.btn-gray {
  background-color: $gray-light;
  &:hover {
    background-color: $gray;
  }
}

.link-gray-light > a {
  color: $gray-light;
  &:hover {
    text-decoration: none;
    color: $gray;
  }
}
.btn-red {
  font-size: 1em;
  font-weight: 600;
  line-height: 25px;
  height: 40px;
  vertical-align: middle;
  background-color: $brand-primary;
  color: $white;
  &:hover {
    background-color: $brand-primary-dark;
    color: $white;
  }
}


// switch button

.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 1px solid $gray-light; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    @include transition(margin 0.3s ease-in 0s);
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: $green; color: $white;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: $gray-lighter; color: $gray;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: $white;
    position: absolute; top: 0; bottom: 0;
    right: 56px;
    border: 1px solid $gray-light; border-radius: 20px;
    @include transition(all 0.3s ease-in 0s);
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}
