footer {
  background-color: $bg-light;
  width: 100%;
  min-height: 225px;
  margin-top: 50px;

  ul.gray-item li a {
    color: $gray-light;
    &:hover {
      color: $gray;
    }
  }

  .go-top {
    position: relative;
    display: block;
    text-align: right;
    a {
      color: $gray-light;
      &:hover {
        color: $gray;
      }
      > i {
        position: relative;
        top: 10px;
        font-size: 2em;
      }
    }
  }

  .footer-top {
    position: relative;
    .social {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  .footer-bottom {
    position: relative;
    .contact {
      font-size: .9em;
      strong {
        font-size: 1.1em;
      }
      i {
        display: inline-block;
        margin-right: 10px;
        font-size: 1.1em;
      }
    }
    .copyright {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}

@media screen and (max-width: $xs-width) {
  footer {
    font-size: 1.1em;
    text-align: center;

    .go-top {
      text-align: center;
    }

    .footer-top {
      display: block;
      .footer-nav li{
        display: block;
        margin-top: 5px;
      }
      .social {
        display: block;
        position: relative;
        margin-bottom: 15px;
        a {
          margin-left: 5;
          margin-right: 5px;
        }
      }
    }

    .footer-bottom {
      .contact {
        display: block;
      }
      .copyright {
        position: relative;
        display: block;
        margin-top: 15px;
        margin-bottom: 30px;
      }
    }
  }
}
