html, body {
  height: 100%;
  font-family: 'PingFangTC-Regular', 'Helvetica Neue',
  "source-han-sans-traditional", 'Microsoft JhengHei',
  'Noto Sans TC', Verdana ,serif;
}
#main-content {
  min-height: 100%;
  margin-bottom: -275px;
}
#main-content:after {
  content: "";
  display: block;
  height: 275px;
}
a:hover {
  text-decoration: none;
}

.under-line {
  border-bottom: 2px solid $gray-lighter;
  padding-bottom: 6px;
  font-weight: normal;
}

.view-history {
  border-top: 3px solid $gray-lighter;
  p {
    color: $gray;
    margin-bottom: 0;
  }
}
.history-product {
  overflow-x: scroll;
  height: 120px;
  white-space: nowrap;
  > ul {
    > li {
      display: inline-block;
    }
  }
}

.carousel-indicators {
  bottom: 0;
}


.social {
  a {
    margin-left: 15px;
    display: inline-block;
    width: 30px;
    color: $gray-light;
    vertical-align: middle;
    svg {
      width: 100%;
      path {
        fill: $gray-light;
      }
      &:hover path {
        fill: $gray;
      }
    }
  }
}


@media screen and (max-width: $xs-width) {
  #filling {
    margin-top: 15px;
  }
}
