html, body {
  height: 100%;
}
#main-content {
  min-height: 100%;
  margin-bottom: -275px;
}

a:hover {
  text-decoration: none;
}

.under-line {
  border-bottom: 2px solid $gray-lighter;
  padding-bottom: 10px;
}

.content {
  position: relative;
}

.banner {
  width: 100%;
  position: relative;
  background-image: url("../image/index-banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 215px;
  min-width: 943px;
}

@media screen and (max-width: $md-width) {
  .banner {
    min-width: 100%;
    width: 100%;
  }
}
