html, body {
  height: 100%;
  font-family: 'PingFangTC-Regular', 'Helvetica Neue',
  "source-han-sans-traditional", 'Microsoft JhengHei',
  'Noto Sans TC', Verdana ,serif;
}
html.noscroll {
    position: fixed;
    overflow-y: scroll;
    width: 100%;
}
#main-content {
  min-height: 100%;
  margin-bottom: -275px;
}
#main-content:after {
  content: "";
  display: block;
  height: 275px;
}
a:hover,
a:active,
a:focus {
  text-decoration: none;
}

.under-line {
  border-bottom: 2px solid $gray-lighter;
  padding-bottom: 6px;
  font-weight: normal;
}

.view-history {
  // border-top: 3px solid $gray-lighter;
  p {
    color: $gray;
    margin-bottom: 0;
  }
}
.history-product {
  overflow-x: scroll;
  height: 120px;
  white-space: nowrap;
  > ul {
    > li {
      display: inline-block;
    }
  }
}

.carousel-indicators {
  bottom: 0;
}


.social {
  a {
    margin-left: 15px;
    display: inline-block;
    width: 30px;
    height: 30px;
    color: $gray-light;
    vertical-align: middle;
    svg {
      width: 100%;
      path {
        fill: $gray-light;
      }
      &:hover path {
        fill: $gray;
      }
    }
  }
}

.form-control {
  height: 40px;
  @include border-radius(1px);
  &:focus,
  &:active, {
    border: 1px solid $gray-lighter;
    @include box-shadow(inset 0 0 0 $gray, 0 0 8px $gray-light);
  }
}

@media screen and (max-width: $xs-width) {
  #filling {
    margin-top: 15px;
  }
}

@media screen and (max-width: $md-width) {
  #ad-carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
    text-align: center;
    .item img{
      position: relative;
      max-width: 150%;
      width: 150%;
      left: -25%;
    }
  }
}
