#light-box {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 300;
  width: 100%;
  height: 100%;
  background-color: $dark-mask;
  text-align: center;
  &:after {
    position: absolute;
    z-index: 350;
    font-size: 5em;
    color: $gray-lighter;
    right: 3%;
    top: 3%;
    font-family: 'Material Icons';
    content: 'zoom_out';
    -webkit-font-feature-settings: 'liga';
    font-feature-settings: 'liga';
  }
  > img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    @include translate(-50%, -50%);
  }
}
