.membercenter-sidemenu {
  color: $gray;
  font-size: 1.1em;
  font-weight: 400;
  a:hover {
    color: $gray-light;
  }
  li {
    padding: 10px 10px 10px 30px;
  }
  .menu > li {
    background-color: $bg-light;
  }
  .sub-item {
    padding: 10px 10px 10px 15px;
    > li {
      padding-top: 7px;
      padding-bottom: 7px;
    }
  }
  .active {
    font-weight: 700;
  }
}

.profile-title {
  color: $gray;
  margin-top: 30px;
  padding-left: 30px;
  padding-bottom: 10px;
  background-color: $bg-light;
  span {
    position: relative;
    top: 6px;
  }
  h5 {
    display: inline;
    font-weight: 600;
    font-size: 1.1em;
  }
}

.service-rule {
  width: 100%;
  height: 200px;
  overflow-y: scroll;
}

.address-select {
  margin-bottom: 10px;
  div {
    display: inline;
  }
  .form-control {
    width: 33.3%;
    display: inline-block;
  }
}

.submit {
  width: 200px;
  @include bp(xs) {
    width: 100%;
  };
}

.info-form {
  color: $gray;
  .control-label {
    @include bp(xs) {
      font-size: 1.1em;
    };
  }
  .description {
    display: block;
    position: relative;
    width: 100%;
    background-color: $bg-light;
    padding: 10px;
    top: 0;
    margin: 0;
    font-size: .9em;
    @include border-radius(5px);
    @include bp(xs) {
      margin-top: 15px;
    };
  }
  .radio-group {
    position: relative;
    top: 5px;
    input {
      margin-left: 15px;
    }
  }
  .status {
    span {
      @include bp(xs) {
        position: absolute;
        right: 15px;
        top: -70px;
        display: block;
        text-align: right;
      };
      @include bp(sm) {
        position: relative;
        left: 0;
      };
      i {
        position: relative;
        top: 6px;
        margin-right: 6px;
      }
    }
  }
  .success {
    .form-control {
      border: 1px solid $green;
      &:focus,
      &:active, {
        @include box-shadow(inset 0 0 0 $green, 0 0 8px $green-light);
      }
    }
    span {
      color: $green;
    }
  }
  .error {
    .form-control {
      border: 1px solid $brand-primary-dark;
      &:focus,
      &:active, {
        @include box-shadow(inset 0 0 0 $brand-primary-dark, 0 0 8px $brand-primary);
      }
    }
    span {
      color: $brand-primary-dark;
    }
  }
}


.news {
  margin-top: 15px;
  .news-content {
    display: table;
    padding: 12px;
    margin-top: 15px;
    position: relative;
    clear: both;
    border: 3px solid $opacity;
    @include bp(xs) {
      padding: 0;
    };
    &:hover {
      border: 3px solid $brand-primary-light;
      color: $gray-light;
    }
  }
  .news-image {
    width: 200px;
    height: 180px;
    overflow: hidden;
    padding: 15px;
    float: left;
    @include bp(xs) {
      display: none;
    };
    img {
      width: 100%;
      height: 100%;
      @include box-shadow(1px 1px 3px $gray-lighter);
    }
  }
  .news-info {
    width: calc( 100% - 200px);
    height: 180px;
    overflow: hidden;
    padding: 15px;
    float: left;
    @include bp(xs) {
      width: 100%;
      padding: 0;
      height: auto;
    };
  }
  .title {
    font-size: 1.3em;
    font-weight: 600;
    margin-top: 5px;
    height: 1.3em;
    overflow: hidden;
  }
  .description {
    margin-top: 20px;
    height: 7em;
    overflow: hidden;
  }

}
