.menu-left {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 600;
  width: 100%;
  height: 100%;
  background-color: $mask;
  display: none;
  #close-menu {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    width: 25%;
    height: 100%;
    background-color: $opactiy;
  }
  .menu-collapse {
    display: block;
    position: relative;
  }
  .menu-collapse:after {
    position: relative;
    top: 2px;
    font-size: 1.5em;
    font-family: 'Material Icons';
    content: "\E313";
    -webkit-font-feature-settings: 'liga';
    font-feature-settings: 'liga';
    position: absolute;
    right: 20px;
  }
  .content {
    position: fixed;
    left: -75%;
    z-index: 200;
    background-color: $bg-light-solid;
    width: 75%;
    height: 100%;
    overflow-y: scroll;
    .menu-items {
      text-align: left;
    }
    .menu-item {
      display: block;
    }
    .menu-link {
      display: block;
      min-height: 46px;
      border-top: 1px $gray-light solid;
      padding: 10px 20px 10px 20px;
      color: $gray;
      font-size: 1.3em;
      clear: both;
      &.active {
        color: $brand-primary;
        &:after {
          content: "\E316";
        }
      }
    }
    .arrow {
      float: right;
      margin-top: 3px;
    }
    .menu-sub-items {
      display: none;
    }
    .menu-sub-item > .menu-link {
      display: block;
      background-color: $white;
      padding-left: 40px;
      &.load {
        background-image: url('../image/loading.gif');
        background-repeat: no-repeat;
        background-position: 90% center;
        background-size: auto;
      }
    }
    .menu-separate {
      color: $gray-dark;
      font-weight: bold;
      margin: 0;
    }
  }
}
