.side-bar-category {
  position: relative;
  a {
    color: $gray;
  }
  .main-category {
  }
  .main-category-item {
    display: block;
    padding-bottom: 5px;
    font-weight: 500;
  }
  .sub-category {
    display: none;
    padding: 5px 0 0 20px;
    border-bottom: 2px solid $gray-lighter;
  }
  .main-category-item:first-child .sub-category {
      display: block;
  }
  .sub-category-item {
    display: block;
    padding: 5px 0 5px 0;
    > a {
      color: $gray-light;
    }
  }
  .category-title{
    display: block;
    border-bottom: 2px solid $gray-lighter;
    padding: 3px 0 3px 20px;
    font-size: 1.1em;
    clear: both;
    &:hover {
      &:before {
        position: absolute;
        left: 16px;
        -webkit-font-smoothing: antialiased;
        font-family: 'Material Icons';
        content: "card_giftcard";
        -webkit-font-feature-settings: 'liga';
        font-feature-settings: 'liga';
      }
    }
    &:after {
      font-style: normal;
      font-weight: 400;
      -webkit-font-smoothing: antialiased;
      position: absolute;
      right: 30px;
      font-family: 'Material Icons';
      content: "keyboard_arrow_up";
      -webkit-font-feature-settings: 'liga';
      font-feature-settings: 'liga';
      font-size: 1em;
      line-height: 1.6em;
    }
    &.active:after {
      content: "keyboard_arrow_down";
    }
  }
}
