.square {
  margin: $square-padding;
  display: inline-block;
  overflow: hidden;
  position: relative;
  text-align: center;
  > a {
    display: block;
  }
  &-extra-large {
    width: $square-extra-large-size;
    height: $square-extra-large-size;
    img {
      width: $square-extra-large-size;
      height: $square-extra-large-size;
    }
  }
  &-large {
    width: $square-large-size;
    height: $square-large-size;
    img {
      width: $square-large-size;
      height: $square-large-size;
    }
  }
  &-middle {
    width: $square-middle-size;
    height: $square-middle-size;
    img {
      width: $square-middle-size;
      height: $square-middle-size;
    }
  }
  &-small {
    width: $square-small-size;
    height: $square-small-size;
    img {
      width: $square-small-size;
      height: $square-small-size;
    }
  }
  &.ad-vertical {
    width: $ad-banner-width;
    height: $ad-banner-height;
    img {
      width: $ad-banner-width;
      height: $ad-banner-height;
    }
  }
  &:hover {
    .hover {
      height: auto;
      padding: 4px;
      bottom: 0;
    }
    .like-button {
      opacity: 1;
    }
  }

  // Hover effect
  .hover {
    position: absolute;
    left: 0;
    bottom: -46px;
    max-height: 46px;
    width: 100%;
    padding: 0 4px 0 4px;
    background-color: $mask;
    text-align: center;
    transition: all .5s ease;
    overflow: hidden;
    a {
      text-align: center;
      color: $gray-lighter;
      overflow: hidden;
      text-decoration: none;
      width: 100%;
      &:hover {
        color: $white;
      }
      span {
        overflow: hidden;
        vertical-align: top;
      }
    }
  }

  // follow description
  .follow {
    display: block;
    position: relative;
    top: 10px;
    width: 100%;
    height: 74px;
    > a {
      display: block;
      position: relative;
      color: $gray;
      .name {
        display: block;
        height: 40px;
        text-align: left;
        overflow: hidden;
        font-size: 1.1em;
      }
      .price {
        display: block;
        text-align: right;
        color: $brand-primary;
        font-size: 1.2em;
        font-weight: 300;
        &:before {
          position: relative;
          top: 0;
          margin-right: 5px;
          content: "$";
          font-size: 1em;
        }
      }
    }
  }

  .like-button {
    position: absolute;
    top: 5px;
    right: 8px;
    opacity: 0;
    transition: opacity .3s ease;
    a {
      display: block;
      color: $gray-light;
      font-size: 1.6em;
      transition: all .3s ease;
      &:after {
        font-family: 'Material Icons';
        content: "favorite_border";
      }
      &:hover {
        color: $brand-primary;
        animation: heart-beat 2s infinite;
        &:after {
          content: "favorite";
        }
      }
      &:active,
      &:focus {
        transform: scale(2.5);
      }
    }
  }

}
.overflow-show {
  overflow: visible;
  height: auto;
}


@media screen and (min-width: $lg-width) {
  .main-product-show {
    .square {
      &-large {
        width: $square-large-size - 14px;
        height: auto;
        img {
          width: $square-large-size - 14px;
          height: auto;
        }
      }
    }
  }
  .square.ad-vertical > img {
    height: $ad-banner-height - 14px;
  }
}


@media screen and (max-width: $xs-width) {
  .hover, .like-button {
    display: none;
  }
  .row-m7 {
    text-align: center;
  }
  .square-large, .square-middle {
    width: calc(50% - 17px);
    height: auto;
    img {
      width: 100%;
      height: auto;
    }
  }
  .square-extra-large {
    width: calc(100% - 17px);
    height: auto;
    img {
      width: 100%;
      height: auto;
    }
  }
}
