a {
  margin: 0;
  padding: 0;
}

ul {
  margin-bottom: 0;
  list-style-type: none;
  padding-left: 0;
}

@for $i from 0 to 11 {
  .mt-#{$i*5} {
    margin-top: #{$i*5}px;
  }
}

@for $i from 0 to 11 {
  .ml-#{$i*5} {
    margin-left: #{$i*5}px;
  }
}

@for $i from 0 to 11 {
  .mb-#{$i*5} {
    margin-bottom: #{$i*5}px;
  }
}

@for $i from 2 to 10 {
  .height-#{$i*5} {
    height: #{$i*5}px;
  }
}

@for $i from 3 to 10 {
  .width-#{$i*5} {
    width: #{$i*5}px;
  }
}

@for $i from 1 to 5 {
  .fz-#{$i}em {
    font-size: #{$i}em;
  }
}

.fw-400 {
  font-weight: 400;
}

.vertical-bottom {
  vertical-align: bottom;
}
.vertical-center {
  vertical-align: middle;;
}

.w100 {
  width: 100%;
}

.row-m7 {
  margin-left: -7px;
  margin-right: -7px;
}
.row-m10 {
  margin-left: -10px;
  margin-right: -10px;
}

.relative {
  position: relative;
}
.inline-block li{
  display: inline-block;
}
.inline {
  display: inline;
}
.block {
  display: block;
}

.color-white {
  color: $white;
}
.color-primary {
  color: $brand-primary;
}
.color-gray {
  color: $gray;
}
.color-gray-light {
  color: $gray-light;
}
