a {
  margin: 0;
  padding: 0;
}

ul {
  margin-bottom: 0;
  list-style-type: none;
  padding-left: 0;
}

h1, h2, h3, h4, h5, h6, p, a{
  color: $gray;
}

@for $i from 0 to 11 {
  .pd-#{$i*5} {
    padding: #{$i*5}px;
  }
}

@for $i from 0 to 11 {
  .mt-#{$i*5} {
    margin-top: #{$i*5}px;
  }
}

@for $i from 0 to 11 {
  .ml-#{$i*5} {
    margin-left: #{$i*5}px;
  }
}

@for $i from 0 to 11 {
  .mr-#{$i*5} {
    margin-right: #{$i*5}px;
  }
}

@for $i from 0 to 11 {
  .mb-#{$i*5} {
    margin-bottom: #{$i*5}px;
  }
}

@for $i from 2 to 10 {
  .height-#{$i*5} {
    height: #{$i*5}px;
  }
}

@for $i from 1 to 10 {
  .lh-#{$i}em {
    line-height: #{$i}em;
  }
}

@for $i from 1 to 5 {
  .fz-#{$i}em {
    font-size: #{$i}em;
  }
}

@for $i from 1 to 9 {
  .fz-1p#{$i}em {
    font-size: 1#{$i*0.1}em;
  }
}

@for $i from 1 to 10 {
  .width-#{$i*50} {
    width: #{$i*50}px;
  }
}

@for $i from 1 to 11 {
  .w#{$i*10} {
    width: #{$i*10%};
  }
}

@for $i from 1 to 8 {
  .fw-#{$i*100} {
    font-weight: #{$i*100};
  }
}

.xs-margin-0 {
  @include bp(xs) {
    margin: 0;
  };
}
.xs-mt-15 {
  @include bp(xs) {
    margin-top: 15px;
  };
}
.xs-w100 {
  @include bp(xs) {
    width: 100%;
  };
}

.vertical-bottom {
  vertical-align: bottom;
}
.vertical-center {
  vertical-align: middle;;
}

.row-m7 {
  margin-left: -7px;
  margin-right: -7px;
}
.row-m10 {
  margin-left: -10px;
  margin-right: -10px;
}

.relative {
  position: relative;
}
.inline-block {
  display: inline-block;
}
ul.inline-block li{
  display: inline-block;
}
.inline {
  display: inline;
}
.block {
  display: block;
}
.flex {
  @include flexbox();
}
.xs-flex-column {
  @include bp(xs) {
    flex-direction: column;
  }
}

.color-white {
  color: $white;
}
.color-primary {
  color: $brand-primary;
}
.color-gray {
  color: $gray;
}
.color-gray-light {
  color: $gray-light;
}
.bg-red {
  background-color: $brand-primary;
}
.bg-gray {
  background-color: $gray;
}
.bg-gray-light {
  background-color: $gray-light;
}

.scroll-x {
  overflow-x: scroll;
  white-space: nowrap;
}
.scroll-y {
  overflow-y: scroll;
}
