@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);

$opactiy:                rgba(0,0,0,0);
$light-mask:             rgba(0,0,0,.3);
$mask:                   rgba(0,0,0,.5);
$dark-mask:              rgba(0,0,0,.8);

$white:                  #ffffff;
$gray:                   #757575 !default;
$gray-light:             lighten($gray, 20%) !default;     //#C2C2C2
$gray-lighter:           lighten($gray, 50%) !default;     //#F5F5F5
$gray-dark:              darken($gray, 20%) !default;      //#5c5c5c

$brand-primary:          #e42000 !default;
$brand-primary-dark:     darken($brand-primary, 10%) !default; //#b11900

$square-extra-large-size:382px;
$square-large-size:      218px;
$square-middle-size:     159px;
$square-small-size:      85px;
$square-padding:         7px;
$ad-banner-width:        235px;
$ad-banner-height:       391px;


$xs-width:               767px;
$sm-width:               768px;
$md-width:               992px;
$lg-width:               1200px;
