@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);

$opactiy:                rgba(0,0,0,0);
$light-mask:             rgba(0,0,0,.3);
$mask:                   rgba(0,0,0,.5);
$dark-mask:              rgba(0,0,0,.8);

$white:                  #ffffff;
$green:                  #7ed321;
$green-light:            lighten($green, 10%);
$yellow:                 #f1af4d;
$yellow-light:           lighten($yellow, 10%);
$fb-blue:                #3c5896;
$fb-blue-light:          lighten($fb-blue, 10%);

$gray:                   #757575 !default;
$gray-light:             #9b9da0 !default;
$gray-lighter:           #e0e0e0 !default;
$gray-dark:              #555555 !default;

$bg-light:               rgba(117, 117, 117, .1) !default;
$bg-light-solid:         #f1f1f1 !default;
$bg-dark:                rgba(117, 117, 117, .7) !default;

$brand-primary:          #e22300 !default;
$brand-primary-light:    lighten($brand-primary, 10%);
$brand-primary-dark:     darken($brand-primary, 10%) !default; //#b11900

$square-extra-large-size:382px;
$square-large-size:      218px;
$square-middle-size:     159px;
$square-small-size:      85px;
$square-padding:         7px;
$ad-banner-width:        235px;
$ad-banner-height:       391px;


$xs-width:               767px;
$sm-width:               768px;
$md-width:               992px;
$lg-width:               1200px;
