.video-area {
  position: relative;

  .ratio {
    display: block;
    width: 100%;
    height: auto;
  }
  p, .description {
    margin-top: 0;
  }
  .text-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 15px;
    overflow-y: scroll;
  }
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 5px 0 5px;
  }

}
