<div class="membercenter-sidemenu col-sm-4 col-md-3 mt-25 hidden-xs">
  <ul class="menu">
    <li><a href="/membercenter">關於我們</a></li>
      <ul class="sub-item">
        <li><a href="#">認識台灣禮品館</a></li>
        <li class="active"><a href="/news">最新消息</a></li>
        <li><a href="#">哪裡買</a></li>
      </ul>
  </ul>
</div>
