<div class="membercenter-sidemenu col-sm-4 col-md-3 mt-25 hidden-xs">
  <ul class="menu border">
    <li><a href="/membercenter">會員訂單查詢</a></li>
      <ul class="sub-item">
        <li><a href="#">查詢訂單</a></li>
        <li><a href="#">退貨/取消訂單</a></li>
        <li><a href="#">退貨/退款查詢</a></li>
      </ul>
    <li class="active"><a href="/profile">修改會員資料及密碼</a></li>
    <li><a href="#">抽獎登錄</a></li>
    <li><a href="#">得獎名單</a></li>
  </ul>
</div>
