<div class="popout popout-forgot-pwd">
  <div class="close-popout-area"></div>
  <div class="content">
    <i class="material-icons close close-popout">close</i>
    <div class="head">
      <h3>找回您的密碼</h3>
    </div>
    <div class="body">
      <div class="col-sm-6 col-sm-offset-3 mt-50">
        <div class="form-group color-gray text-center">請輸入您註冊的帳號(電子郵件)<br>系統在五分鐘內將新密碼寄至您的信箱</div>
        <form class="" action="index.html" method="post">
          <div class="form-group">
            <input type="email" name="forgot-pwd-email" value="" class="form-control" placeholder="請輸入您註冊的電子信箱" id="forgot-pwd-email">
            <label for="forgot-pwd-email" class="form-icon email-icon"></label>
          </div>
          <button type="submit" class="btn-login btn-red form-control">找回密碼</button>
        </form>
      </div>
    </div>
    <div class="foot">
      <a href="#login" class="login">會員登入</a>
      <a href="/register">會員註冊</a>
    </div>
  </div>
</div>
