<div class="popout popout-login">
  <div id="close-popout-area"></div>
  <div class="content">
    <i class="material-icons close" id="close-popout-login">close</i>
    <div class="head">
      <h3>會員登入</h3>
    </div>
    <div class="body">
      <div class="col-sm-6 left social-login">
        <button type="button" name="button" class="btn-login btn-fb-login mb-25">
          <svg id="facebook-login" data-name="Capa 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 90 90"><title>facebook</title><path id="Facebook_alt_" data-name="Facebook (alt)" d="M90,15C90,7.12,82.88,0,75,0H15C7.12,0,0,7.12,0,15V75c0,7.88,7.12,15,15,15H45V56H34V41H45V35.16C45,25.08,52.57,16,61.88,16H74V31H61.88C60.55,31,59,32.61,59,35v6H74V56H59V90H75c7.88,0,15-7.12,15-15V15Z"/></svg>
          <span>使用 Facebook 帳號登入</span>
        </button>
        <button type="button" name="button" class="btn-login btn-weibo-login mb-25">
          <svg id="weibo-login" data-name="Capa 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 511.79 414.46"><title>weibo</title><path d="M413.69,261.55a125.7,125.7,0,0,0-29.4-13.42c-2.29-.76-3.91-1.33-4.86-1.71a14.69,14.69,0,0,1-3.42-2.14c-1.33-1-1.77-2.24-1.28-3.57A32.37,32.37,0,0,0,376,235q12.84-32.83,0-50.82-13.14-17.42-43.69-17.42t-70.23,16.85l-1.72.57a32.29,32.29,0,0,1-3.85,1,12.19,12.19,0,0,1-4.14.14,3.55,3.55,0,0,1-2.85-2q-0.86-1.71.29-5.71,12.84-41.4-5.71-59.67-21.12-21.13-70.38-2t-97.5,67.38Q39.68,219.87,19.84,257T0,326.94q0,30.83,18.56,57t49,43.11q30.4,17,68.66,26.55a322.71,322.71,0,0,0,78.51,9.56,330.64,330.64,0,0,0,77.23-8.85q37-8.85,64.52-23.7A240.34,240.34,0,0,0,404.55,397q20.56-18.7,31.12-39.11t10.57-39.82a59.85,59.85,0,0,0-9.71-33.26Q426.84,269.83,413.69,261.55ZM320.48,392.47Q278.66,426.3,215,432.87q-41.68,4-78.37-6T77.09,395.75q-22.84-21.13-25.41-48.54-4-41.68,37.83-75.51T195,231.29q41.69-4,78.36,6t59.53,31.12q22.84,21.13,25.41,48.54Q362.3,358.64,320.48,392.47Z" transform="translate(0 -48.67)"/><path d="M223.27,274.13q-30.26-7.71-60.1,5.43t-43.25,39.68q-13.42,27.11-1.86,53.53t42.11,36.12q31.69,10.27,64-3.43t45.11-42.82q12.84-28.56-.72-54.39T223.27,274.13Zm-30.55,92.5a32.94,32.94,0,0,1-17.85,13.56q-11.56,3.86-21.27-.71t-12.27-14.42q-2.57-9.84,3.71-19.55a31.32,31.32,0,0,1,17.13-13.13q11.14-3.71,20.84.28,10,4.28,12.85,14.27T192.72,366.63Zm26.84-34.55a11.21,11.21,0,0,1-6.28,5.29,11.84,11.84,0,0,1-8.28.14q-8.56-4-3.71-12.85a11.24,11.24,0,0,1,6.14-5.29,11.42,11.42,0,0,1,8.14-.14,8.13,8.13,0,0,1,5,5.28A8.61,8.61,0,0,1,219.55,332.08Z" transform="translate(0 -48.67)"/><path d="M408,206.88a16.69,16.69,0,0,0,9.71,8.42,16.41,16.41,0,0,0,12.7-1.14,16.65,16.65,0,0,0,8.43-9.71,63.31,63.31,0,0,0,1.85-33.54,65.21,65.21,0,0,0-15.55-31,63.61,63.61,0,0,0-28.84-18.7,65.41,65.41,0,0,0-34-1.57,15.86,15.86,0,0,0-10.57,7.28,16.56,16.56,0,0,0-2.27,12.7,14.78,14.78,0,0,0,7.13,10.56,17,17,0,0,0,12.85,2.29q18-3.71,30.55,10t6.85,31.69A16.38,16.38,0,0,0,408,206.88Z" transform="translate(0 -48.67)"/><path d="M508.92,156.92A131.76,131.76,0,0,0,476.8,93.4,130.5,130.5,0,0,0,417.4,55a136.33,136.33,0,0,0-69.66-3.28,19.11,19.11,0,0,0-12.42,8.42,18.6,18.6,0,0,0-2.71,14.71A19.69,19.69,0,0,0,356,90a97.89,97.89,0,0,1,49.4,2.43,96.43,96.43,0,0,1,65.1,72.38q5.14,25.69-2.85,49.1a19.9,19.9,0,0,0,12.85,24.56,18.38,18.38,0,0,0,14.85-1.14,19.27,19.27,0,0,0,9.71-11.42Q516.2,193,508.92,156.92Z" transform="translate(0 -48.67)"/></svg>
          <span>使用 Weibo 帳號登入</span>
        </button>
        <button type="button" name="button" class="btn-login btn-google-login mb-25">
            <svg id="google-login" data-name="Capa 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 486.39 486.39"><defs><style>.cls-1{fill:#090509;}</style></defs><title>social</title><path class="cls-1" d="M395.19,0H91.2A91.19,91.19,0,0,0,0,91.2v304a91.19,91.19,0,0,0,91.2,91.2h304a91.19,91.19,0,0,0,91.2-91.2V91.2A91.19,91.19,0,0,0,395.19,0ZM175.34,406.84c-53.84,0-99.25-21.92-99.25-56.94,0-35.54,41.43-69.86,95.27-69.83l16.81-.15C180.82,272.77,175,264,175,253.14A39.66,39.66,0,0,1,179.91,235l-9,.3c-44.23,0-73.84-31.46-73.84-70.47,0-38.15,40.89-71.07,84.36-71.07h97l-21.77,15.69H225.93c20.4,7.84,31.25,31.62,31.25,56,0,20.46-11.34,38.09-27.36,50.62-15.66,12.25-18.6,17.36-18.6,27.76,0,8.88,16.78,24,25.54,30.19,25.63,18.12,33.86,34.93,33.86,63C270.62,372,236.72,406.84,175.34,406.84ZM425.59,213.37h-60.8v60.71H334.42V213.37H273.6v-31h60.83V121.6h30.37v60.8h60.8v31Z"/><path class="cls-1" d="M222.34,167.35c-4.32-32.77-28.06-59.1-53-59.86s-41.71,24.35-37.39,57.18,28.06,60,53,60.74S226.69,200.18,222.34,167.35Z"/><path class="cls-1" d="M205.77,293a81.42,81.42,0,0,0-24.14-3.89c-37.21-.39-70.53,22.68-70.53,50.43,0,28.33,26.87,51.86,64.08,51.86,52.32,0,70.53-22.13,70.53-50.4a45.64,45.64,0,0,0-1.19-10C240.46,315,226,307,205.77,293Z"/></svg>
          <span>使用 Google 帳號登入</span>
        </button>
      </div>
      <div class="col-sm-6 right">
        <form class="" action="index.html" method="post">
          <div class="form-group">
            <input type="email" name="email" value="" class="form-control" placeholder="電子郵件" id="login-email" autofocus>
            <label for="login-email" class="form-icon email-icon"></label>
          </div>
          <div class="form-group">
            <input type="password" name="login-password" value="" class="form-control" placeholder="密碼" id="login-password">
            <label for="login-password" class="form-icon password-icon"></label>
          </div>
          <div class="form-group rember-me">
            <label for="rember-me-switch" class="rember-me-label">記住帳號</label>
            <div class="onoffswitch">
              <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="rember-me-switch">
              <label class="onoffswitch-label" for="rember-me-switch">
                <span class="onoffswitch-inner"></span>
                <span class="onoffswitch-switch"></span>
              </label>
            </div>
          </div>
          <div class="form-group">
            <input type="password" name="name" value="" class="form-control" placeholder="我不是機器人" disabled="dsiabled">
          </div>
          <button type="submit" class="btn-login btn-red form-control">會員登入</button>
        </form>
      </div>
    </div>
    <div class="foot">
      <a href="/register">會員註冊</a>
      <a href="#">忘記密碼</a>
    </div>
  </div>
</div>
