<div class="view-history mt-50">
  <p>瀏覽過的商品</p>
  <div class="history-product row-m7">
    <ul>
      <% for( var i = 0; i < 12; i++) { %>
      <li>
        <a href="#" class="square square-small">
          <img src="http://dummyimage.com/85x85/eeeeee/">
        </a>
      </li>
      <% } %>
    </ul>
  </div>
</div>
