<ol class="breadcrumbs">
  <li><a href="/">首頁</a></li>
  <li><a href="/">關於我們</a></li>
  <li class="active">最新消息</li>
</ol>

<div class="row">

  <% include ../partials/_aboutus-sidebar.ejs %>

  <div class="membercenter-content col-sm-12 col-md-9 mt-25">
    <div class="under-line">
      <h4 class="color-primary inline">
        編輯器自訂內容
      </h4>
    </div>

    <div class="custom-content">
      <h1>這是標題這是標題 h1. Bootstrap heading <small>Secondary text</small></h1>
      <h2>這是標題這是標題 h2. Bootstrap heading <small>Secondary text</small></h2>
      <h3>這是標題這是標題 h3. Bootstrap heading <small>Secondary text</small></h3>
      <h4>這是標題這是標題 h4. Bootstrap heading <small>Secondary text</small></h4>
      <h5>這是標題這是標題 h5. Bootstrap heading <small>Secondary text</small></h5>
      <h6>這是標題這是標題 h6. Bootstrap heading <small>Secondary text</small></h6>
      <div class="under-line"></div>
      <p>p</p>
      <p>
        這是內文這是內文這是內文這是內文這是內文這是內文這是內文這是內文這是內文這是內文這是內文
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>

      <p>
        <strong>p strong 不讓你變粗！</strong>
      </p>
      <p>
        <strong>
          這是內文這是內文這是內文這是內文這是內文這是內文這是內文這是內文這是內文這是內文這是內文
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </strong>
      </p>
      <div class="under-line"></div>
      <p>
        a link
      </p>
      <a href="#">連結文字</a>
      <div class="under-line"></div>
      <p>
        圖片 max-width 100%
      </p>
      <img src="http://dummyimage.com/1600x1000/dddddd/ffffff" alt="" />


    </div>

  </div>

</div>
