<div class="under-line mt-45">
  <h4 class="color-primary inline">
    會員註冊
  </h4>
</div>

<div class="info-form">
  <div class="mt-45">
    <form class="form-horizontal" action="index.html" method="post">
      <div class="form-group mt-25">
        <label for="reg-email" class="col-sm-2 control-label">電子郵件</label>
        <div class="col-sm-6">
          <input type="email" name="email" value="" class="form-control" id="reg-email" placeholder="請輸入您的電子郵件">
        </div>
        <div class="col-sm-4">
          <span class="description">
            日後將以電子郵件作為登入帳號，如：info@green.com<br>
            建議避免使用免費信箱作為帳號 (如yahoo、Pchome等)<br>
          </span>
        </div>
      </div>
      <div class="form-group status success mt-25">
        <label for="password" class="col-sm-2 control-label">密碼</label>
        <div class="col-sm-6">
          <input type="password" name="password" value="" class="form-control" id="password" placeholder="請輸入密碼">
        </div>
        <div class="col-sm-4">
          <span><i class="material-icons">&#xE876;</i>此組密碼可用</span>
        </div>
      </div>
      <div class="form-group status error mt-25">
        <label for="confirm-pwd" class="col-sm-2 control-label">確認密碼</label>
        <div class="col-sm-6">
          <input type="password" name="password" value="" class="form-control" id="confirm-pwd" placeholder="請再次輸入密碼">
        </div>
        <div class="col-sm-4">
          <span><i class="material-icons">&#xE000;</i>請重新檢查</span>
        </div>
      </div>
      <div class="form-group mt-25">
        <label for="" class="col-sm-2 control-label">服務條款</label>
        <div class="col-sm-6">
          <div class="service-rule">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-6 col-sm-offset-2">
          <input type="checkbox" value="" id="agree-rule">
          <label for="agree-rule">同意服務條款</label>
        </div>
      </div>
      <div class="form-group">
        <label for="profile-phone-number" class="col-sm-2 control-label">訂閱電子報</label>
        <div class="col-sm-6">
          <div class="onoffswitch">
            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="subscription-switch" checked>
            <label class="onoffswitch-label" for="subscription-switch">
              <span class="onoffswitch-inner"></span>
              <span class="onoffswitch-switch"></span>
            </label>
          </div>
        </div>
      </div>
      <div class="under-line mt-45"></div>
      <div class="text-center mt-25 mb-25">
        <button type="submit" name="button" class="btn btn-red submit">確認送出</button>
      </div>
    </form>
  </div>
</div>
