<ol class="breadcrumbs">
  <li><a href="/">首頁</a></li>
  <li><a href="/membercenter">會員中心</a></li>
  <li class="active">購物車</li>
</ol>

<div class="shopping-flow relative hidden-xs mt-25">
  <div class="shop-flow flow-1 inline-block active">
    <span>
      確認購物車數量
    </span>
  </div>
  <div class="shop-flow flow-2 inline-block">
    <span>
      填寫聯絡資料
    </span>
  </div>
  <div class="shop-flow flow-3 inline-block">
    <span>
      付款結帳完成
    </span>
  </div>
</div>

<div class="row" id="shoppingCart">

  <div class="col-sm-12 mt-25">
    <div class="under-line">
      <h4 class="color-primary inline">
        購物車
      </h4>
    </div>

    <div class="border mt-15">
      <h5 class="title-with-gray-bg">購物明細</h5>
      <div class="pd-25">
        <% for(var i = 0; i < 3; i++) { %>
        <div class="row under-line mb-30">
          <div class="col-md-4 mb-25 xs-mb-0 clearfix">
            <a href="#" class="square square-small pull-left squar-no-margin">
              <img src="http://dummyimage.com/85x85/eeeeee/">
            </a>
            <p class="w60 product-title pull-left ml-15 xs-mt-0">
              商品的名稱最多可以有兩行字數單行有16字
            </p>
          </div>
          <div class="col-md-8 col-xs-12">
            <div class="row mt-15 flex xs-flex-column">
              <div class="col-sm-4 col-xs-12 lh-3em">
                <span>單價：</span>
                <span class="price pull-right">999,999</span>
              </div>
              <div class="col-sm-4 col-xs-12 lh-3em">
                <div class="input-group quantity-step width-150 xs-w100">
                  <span class="input-group-btn quantity-minus">
                    <button class="btn btn-white height-40 material-icons" type="button">&#xE15B;</button>
                  </span>
                  <input type="text" class="form-control" name="quantity" value="1">
                  <span class="input-group-btn quantity-plus">
                    <button class="btn btn-white height-40 material-icons" type="button">&#xE145;</button>
                  </span>
                </div>
              </div>
              <div class="col-sm-4 col-xs-12 lh-3em pricing">
                <span>小計：</span>
                <span class="price fz-1p5em color-primary pull-right" data-price="999999" data-total-price="999999">999,999</span>
              </div>
            </div>
          </div>
        </div>
        <% } %>
        <div class="row shopping-cart-bottom flex xs-flex-column">
          <div class="col-sm-6 xs-order-2">
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <a href="/" class="btn btn-gray height-40 w100">繼續購物</a>
                <a href="/shipping" class="btn btn-red height-40 w100 mt-15">前往結帳</a>
              </div>
            </div>
          </div>
          <div class="col-sm-6 xs-order-1 xs-mb-15">
            <div class="row">
              <div class="col-sm-6 mb-15">
                共 <spam class="total-quantity">3</span> 項商品
              </div>
              <div class="col-sm-6">
                <div class="clearfix">
                  價格小計
                  <span class="price pull-right" id="sub-total-price" data-sub-total-price="999999">999,999</span>
                </div>
                <div class="mt-15 clearfix">
                  運費
                  <span class="price pull-right" id="shipping-cost" data-shipping-cost="999">999</span>
                </div>
                <div class="mt-15 clearfix">
                  <select class="" name="">
                    <option value="0">請選擇可使用折價券</option>
                    <option value="1">全館滿額折價 NTD$500</option>
                    <option value="2">新會員好禮贈 NTD$100</option>
                  </select>
                  <span class="price pull-right" id="shipping-cost" data-shipping-cost="999">-500</span>
                </div>
                <div class="mt-15 lh-2em clearfix">
                  <span>總計金額</span>
                  <span class="price color-primary fz-2em pull-right" id="total-price">999,999</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
