<div class="popout popout-notice popout-animation">
  <div class="close-popout-area"></div>
  <div class="content">
    <i class="material-icons close close-popout">close</i>
    <div class="head"></div>
    <div class="body">
      popout video
    </div>
  </div>
</div>
