.banner {
  width: 100%;
  overflow: hidden;
  > img {
    width: 100%;
  }
}

@media screen and (max-width: $md-width) {
  .banner img {
    width: calc(100% + 285px);
  }
}

.new-arrive {
  text-align: center;
}

@media screen and (min-width: $md-width) and (max-width: $lg-width) {
  #promo-goods > .square-middle:nth-child(9),
  #promo-goods > .square-middle:nth-child(10) {
    display: none !important;
  }
  #new-arrive > .square-middle:nth-child(9),
  #new-arrive > .square-middle:nth-child(10) {
    display: none !important;
  }
}
