.menu-left {
  font-size: 1.1em;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 600;
  width: 100%;
  height: 100%;
  background-color: $mask;
  display: none;
  .menu-header {
    height: 50px;
    padding: 10px;
    color: $black;
    font-size: 1.2em;
    line-height: 1.6em;
    font-weight: 700;
  }
  #close-menu {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    width: 25%;
    height: 100%;
    background-color: $opacity;
  }
  .menu-collapse {
    display: block;
    position: relative;
  }
  .menu-collapse.active,
  .menu-collapse.active:after {
    color: rgba($brand-primary, .5);
  }
  .menu-collapse:after {
    position: relative;
    top: 2px;
    font-size: 1.5em;
    line-height: 2em;
    font-family: 'Material Icons';
    content: "\E315";
    -webkit-font-feature-settings: 'liga';
    font-feature-settings: 'liga';
    color: $gray-lighter;
    position: absolute;
    right: 20px;
  }
  .content {
    position: fixed;
    left: -75%;
    z-index: 200;
    background-color: $white;
    width: 75%;
    height: 100%;
    overflow-y: scroll;
    .menu-items {
      text-align: left;
    }
    .top-class {
      > a.active,
      > a.active:after {
        color: $white;
        background-color: lighten($brand-primary, 40%);
      }
    }
    .menu-link {
      display: block;
      min-height: 46px;
      padding: 15px 20px 15px 20px;
      clear: both;
      &.active {
        font-weight: 700;
        &:after {
          content: "\E313";
        }
      }
    }
    .menu-item {
      display: block;
      > .menu-sub-items {
        padding-left: 20px;
      }
    }
    .arrow {
      float: right;
      margin-top: 3px;
    }
    .menu-sub-items {
      display: none;
      position: relative;
    }
    .menu-sub-item {
      margin-left: 20px;
      border-left: 2px solid $gray-lighter;
    }
    .menu-sub-item > .menu-link {
      display: block;
      background-color: $white;
      &.load {
        background-image: url('../image/loading.gif');
        background-repeat: no-repeat;
        background-position: 90% center;
        background-size: auto;
      }
    }
    .menu-separate {
      color: $gray-dark;
      font-weight: bold;
      margin: 0;
    }
  }
}
